/* Main Fonts */

.main-font-11 {
    -fx-font-family: "Ubuntu Regular";
    -fx-font-size: 11px;
}

.main-font-12 {
    -fx-font-family: "Ubuntu Regular";
    -fx-font-size: 12px;
}

.main-font-13 {
    -fx-font-family: "Ubuntu Regular";
    -fx-font-size: 13px;
}

.main-font-14 {
    -fx-font-family: "Ubuntu Regular";
    -fx-font-size: 14px;
}

.main-font-14-bold {
    -fx-font-family: "Ubuntu Regular";
    -fx-font-size: 14px;
    -fx-font-weight: bolder;

}

.main-font-15 {
    -fx-font-family: "Ubuntu Regular";
    -fx-font-size: 15px;
}

.main-font-15-bold {
    -fx-font-family: "Ubuntu Regular";
    -fx-font-size: 15px;
    -fx-font-weight: bolder;
}

.main-font-15-bold-with-shadow {
    -fx-font-family: "Ubuntu Regular";
    -fx-font-size: 15px;
    -fx-effect: dropshadow(one-pass-box, black, 2, 1, 1, 1);
}

.main-font-17 {
    -fx-font-family: "Ubuntu Regular";
    -fx-font-size: 17px;
}

.main-font-20 {
    -fx-font-family: "Ubuntu Regular";
    -fx-font-size: 20px;
}

.special-font-12 {
    -fx-font-family: "Ubuntu Condensed";
    -fx-font-size: 12px;
}

.special-font-13 {
    -fx-font-family: "Ubuntu Condensed";
    -fx-font-size: 13px;
}

.special-font-14 {
    -fx-font-family: "Ubuntu Condensed";
    -fx-font-size: 14px;
}

.special-font-15 {
    -fx-font-family: "Ubuntu Condensed";
    -fx-font-size: 15px;
}

.special-font-16 {
    -fx-font-family: "Ubuntu Condensed";
    -fx-font-size: 16;
}

.mono-font-13 {
    -fx-font-family: "Ubuntu Mono";
    -fx-font-size: 13px;
}

.dialog-root {
    -fx-padding: 0px;
}

.dialog-actions-root {
    -fx-padding: 15px 15px 15px 15px;
}

.dialog-content-root {
    -fx-padding: 10px 15px 0px 15px;
    -fx-alignment: center;
}

/* Transparent TreeView */
.transparent-tree-view {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-effect: null;
    -fx-cell-size: 10;
}

.transparent-tree-view:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-effect: null;
}

.transparent-tree-view > .virtual-flow > .clipped-container > .sheet > .tree-cell:filled:selected {
    -fx-background: -fx-color-600;
    -fx-background-insets: 0;
    -fx-table-cell-border-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.transparent-tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:filled:selected {
    -fx-background: -fx-color-600;
    -fx-background-insets: 0;
    -fx-table-cell-border-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

/* Transparent TreeCell */

.transparent-tree-cell {
    -fx-background: transparent;
    -fx-padding: 0.25em; /* 3 */
    -fx-indent: 1em;
}

.transparent-tree-cell .label {
    -fx-padding: 0.0em 0.0em 0.0em 0.25em; /* 0 0 0 3 */
}

.transparent-tree-cell > .tree-disclosure-node {
    -fx-padding: 2 6 2 8;
    -fx-background-color: transparent;
}

.transparent-tree-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: -fx-font-color;
    -fx-padding: 0.333333em 0.229em 0.333333em 0.229em; /* 4 */
    -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}

.transparent-tree-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-rotate: 90;
}

/* transparent list view */

.transparent-list-view {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-effect: null;
}

.transparent-list-view:focused {
    -fx-background-color: transparent;
}

.transparent-list-view > .virtual-flow > .corner {
    -fx-background-color: derive(-fx-base, -1%);
}

.transparent-list-view:focused > .virtual-flow > .clipped-container > .sheet > .transparent-list-cell:filled:selected {
    -fx-background: -fx-color-500;
    -fx-table-cell-border-color: transparent;
    -fx-text-fill: -fx-font-color;
}

.transparent-list-view:focused > .virtual-flow > .clipped-container > .sheet > .transparent-list-cell:focused {
    -fx-background-color: -fx-background;
    -fx-background-insets: 0;
    -fx-text-fill: -fx-font-color;
}

/* list view without scrolls */

.list-view-without-scroll .scroll-bar:vertical,
.list-view-without-scroll .scroll-bar:horizontal,
.list-view-without-scroll .scroll-bar:vertical .increment-arrow,
.list-view-without-scroll .scroll-bar:vertical .decrement-arrow,
.list-view-without-scroll .scroll-bar:vertical .increment-button,
.list-view-without-scroll .scroll-bar:vertical .decrement-button,
.list-view-without-scroll .scroll-bar:horizontal .increment-arrow,
.list-view-without-scroll .scroll-bar:horizontal .decrement-arrow,
.list-view-without-scroll .scroll-bar:horizontal .increment-button,
.list-view-without-scroll .scroll-bar:horizontal .decrement-button {
    -fx-padding: 0;
}

/* transparent list cell */

.transparent-list-cell {
    -fx-background: transparent;
    -fx-background-color: -fx-background;
    -fx-text-fill: -fx-font-color;
}

.transparent-list-cell:filled:selected {
    -fx-background: -fx-selection-bar-non-focused;
    -fx-table-cell-border-color: transparent;
    -fx-text-fill: -fx-font-color;
}

/* list cell without any padding */

.list-cell-without-padding {
    -fx-padding: 0;
}

.list-cell-without-padding:filled:selected {
    -fx-padding: 0;
}

/** Toolbar Button */

.toolbar-button,
.editor-bar-button,
.drawer-button {
    -fx-body-color: transparent;
    -fx-background-color: -fx-body-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-padding: 0, 0, 0, 0; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-cursor: hand;
    -fx-effect: null;
    -fx-focus-traversable: false;
}

.toolbar-button:hover,
.editor-bar-button:hover {
    -fx-body-color: -fx-button-background-hover;
}

.toolbar-button:armed,
.editor-bar-button:armed {
    -fx-body-color: -fx-button-background-arm;
}

.toolbar-button:focused,
.editor-bar-button:focused {
}

.toolbar-button:selected,
.editor-bar-button:selected {
    -fx-body-color: -fx-button-background-arm;
}

.file-editor-toolbar-button {
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 24;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

.editing-toggle-button-big {
    -fx-min-height: 32;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 32;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

/** Drawer button */

.drawer-button {
    -fx-min-height: 40;
    -fx-effect: null;
}

.drawer-button:hover {
    -fx-body-color: -fx-button-background-hover;
}

.drawer-button:armed {
    -fx-body-color: -fx-button-background-arm;
}

.drawer-button:focused {
}

.drawer-button:selected {
    -fx-body-color: -fx-color-panel-900;
}

.editor-bar-button {
    -fx-min-height: 32;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 32;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-background-radius: 32px;
}

.editor-bar-button:hover {
    -fx-body-color: transparent;
}

.editor-bar-button:armed {
    -fx-body-color: -fx-button-background-arm;
}

.transparent-menu-item {
}

.transparent-combo-box,
.transparent-combo-box:editable,
.transparent-combo-box:editable > .arrow-button {
    -fx-background-color: -fx-body-color;
}

.material-param-control {
    -fx-alignment: center-left;
}

.abstract-param-control {
    -fx-padding: 0 0 0 0;
}

.plain-code {
    -fx-fill: white;
}

.keyword {
    -fx-fill: #f92670;
    -fx-font-weight: bold;
}

.value-type {
    -fx-fill: #62c59f;
    -fx-font-weight: bold;
}

.value-value {
    -fx-fill: #a776a7;
    -fx-font-weight: bold;
}


.semicolon {
    -fx-fill: white;
    -fx-font-weight: bold;
}

.paren {
    -fx-fill: white;
    -fx-font-weight: bold;
}

.bracket {
    -fx-fill: white;
    -fx-font-weight: bold;
}

.brace {
    -fx-fill: white;
    -fx-font-weight: bold;
}

.string {
    -fx-fill: #ddb03f;
}

.comment {
    -fx-fill: #5f6c5a;
}

.paragraph-box:has-caret {
    -fx-background-color: #f2f9fc;
}

.log-severity {
    -fx-fill: #f92670;
}

.log-framework {
    -fx-fill: #ddb03f;
}

.log-class {
    -fx-fill: #62c59f;
}