
#RootContainer {
    -fx-alignment: top-center;
}

#EditorBarComponent {
    -fx-padding: 0px;
    -fx-min-height: 30px;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-background-color: -fx-background-background;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: black;
    -fx-effect: null;
}

#EditorLoadingLayer {
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-alignment: center;
}

#EditorLoadingProgress {
    -fx-min-height: 150;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 150;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#MainSplitPane {
    -fx-background-color: transparent;
}

#GlobalLeftToolComponent {
    -fx-min-width: 26;
    -fx-tab-max-height: 18;
}

#GlobalBottomToolComponent {
    -fx-min-height: 26;
    -fx-tab-max-height: 18;
}

#AssetComponent {
    -fx-background-color: -fx-background-background;
    -fx-alignment: top-center;
    -fx-min-width: 250;
    -fx-effect: null;
}

#AssetComponentBar {
    -fx-background-color: transparent;
    -fx-min-height: 30;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-alignment: center-left;
}

#AssetComponentBarButton {
    -fx-min-height: 30;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 30;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#AssetComponentResourceTreeCell {
}

#EditorAreaComponent {
    -fx-min-width: 500;
    -fx-tab-max-height: 18;
}

#FileEditorToolbar {
    -fx-alignment: center-left;
    -fx-min-height: 30;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-background-color: -fx-background-background;
    -fx-padding: 10, 0, 0, 0;
}

#FileEditorEditorArea {

}

#FileEditorMainSplitPane {
    -fx-background-color: transparent;
}

#FileEditorToolSplitPane {
    -fx-background-color: transparent;
    -fx-orientation: vertical;
}

#FileEditorToolComponent {
    -fx-min-width: 26;
}

#TextEditorTextArea {
    -fx-background-color: -fx-background-background;
    -fx-stroke: white;
}

#TextEditorTextArea .caret {
    -fx-stroke: white;
}

#TextEditorTextArea .content {
    -fx-background-color: -fx-background-background;
}

#EditorDialogBackground {
    -fx-alignment: top-center;
    -fx-background-color: -fx-background-dialogs;
    -fx-effect: -fx-material-shadow-panel;
}

#EditorDialogHeader {
    -fx-alignment: center-right;
    -fx-min-height: 32;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-padding: 0 0 0 10;
    -fx-cursor: move;
}

#EditorDialogHeaderButtonClose {
    -fx-min-height: 32;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 32;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-graphic: url("/ui/icons/actions/24/close.png");
}

#EditorDialogButtonOk {
    -fx-min-height: 32;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 150;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#EditorDialogButtonCancel {
    -fx-min-height: 32;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 150;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#EditorDialogLabelWarning {
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-min-height: 28;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 800;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#EditorDialogShortLabel {
    -fx-alignment: center-right;
    -fx-text-alignment: right;
    -fx-min-width: 150;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-min-height: 25;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-padding: 0 6 0 0;
}

#EditorDialogDynamicLabel {
    -fx-alignment: center-right;
    -fx-text-alignment: right;
    -fx-min-width: 150;
    -fx-pref-width: -fx-min-width;
    -fx-min-height: 25;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-padding: 0 6 0 0;
}

#EditorDialogField {
    -fx-min-height: 25;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 20;
}

#AssetEditorDialogButtonContainer {
    -fx-alignment: center-right;
    -fx-padding: 0 0 0 0;
}

#AssetEditorDialogResourcesContainer {
    -fx-alignment: center-left;
    -fx-padding: 15 0 0 0;
}

#AssetEditorDialogPreviewContainer {
    -fx-border-color: -fx-color-0;
    -fx-border-width: 1;
    -fx-min-height: 600;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 600;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#ParticlesAssetEditorDialogSettingsContainer {
    -fx-alignment: center-left;
    -fx-min-height: 600;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 600;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-hgap: 3px;
    -fx-vgap: 4px;
}

#ParticlesAssetEditorDialogPreviewContainer {
    -fx-border-color: -fx-color-0;
    -fx-border-width: 1;
    -fx-min-height: 540;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 600;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#ParticlesAssetEditorDialogLabel {
    -fx-alignment: center-right;
    -fx-text-alignment: right;
    -fx-min-height: 20;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 240;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#ParticlesAssetEditorDialogControl {
    -fx-min-height: 26;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 356;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#MaterialFileEditorToolbarLabel {
    -fx-min-height: 28;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
}

#MaterialFileEditorToolbarBox {
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 300;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#MaterialFileEditorToolbarSmallBox {
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 150;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#MaterialFileEditorPropertiesComponent {
    -fx-background-color: -fx-background-background;
    -fx-alignment: top-left;
    -fx-padding: 0 5 0 4;
}

#MaterialParamControlParamName {
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-alignment: center-right;
    -fx-text-alignment: right;
    -fx-padding: 0 2 0 0;
}

#MaterialParamControlButton {
    -fx-min-height: 20;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 20;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-padding: 1;
}

#MaterialParamControlSpinner {
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
}

#MaterialParamControlColorPicker {
    -fx-alignment: center;
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
}

#MaterialParamComboBox {
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
}

#MaterialParamControlCheckbox {
    -fx-alignment: center;
    -fx-min-height: 20;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 20;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#MaterialParamControlCheckbox > .box {
    -fx-min-height: 16;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 16;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#MaterialParamControlCheckbox > .box > .mark {
    -fx-min-height: 12;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 12;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#Texture2DMaterialParamControlPreview {
    -fx-min-height: 30;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 30;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-border-color: -fx-color-panel-50;
    -fx-border-width: 1;
}

#MaterialRenderStatePolyOffsetField {
    -fx-min-height: 22;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
}

#SettingsDialogMessageLabel {
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-min-height: 35;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-fill: red;
    -fx-text-fill: red;
    -fx-wrap-text: true;
}

#SettingsDialogTabPane {
}

#SettingsDialogTabPane > .tab-header-area > .tab-header-background {
    -fx-background-color: transparent;
}

#SettingsDialogLabel {
    -fx-alignment: center-right;
    -fx-min-width: 250;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-min-height: 25;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-padding: 0 6 0 0;
}

#SettingsDialogField {
    -fx-min-height: 25;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 20;
}

#ModelNodeTreeCell {
    -fx-min-height: 25;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
}

#ModelNodeTreeCellDragged {
    -fx-min-height: 25;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-background: -fx-color-A400;
}

#ModelNodeTreeCellDropAvailable {
    -fx-min-height: 25;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-background: -fx-color-A200;
}

#ModelParamControlVector4fField {
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 50;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#ModelParamControlInfluencerControl {
    -fx-alignment: top-center;
}

#ModelParamControlInfluencerElement {
    -fx-padding: 2;
}

#ModelParamControlInfluencerIconButton {
    -fx-min-width: 24;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
}

#ImageChannelPreview {
    -fx-background-color: -fx-background-background;
    -fx-effect: -fx-material-shadow-panel;
    -fx-padding: 8;
    -fx-hgap: 4;
    -fx-vgap: 4;
}

#ImageChannelPreviewImageContainer {
    -fx-alignment: center;
    -fx-min-width: 122;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-min-height: 122;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-border-color: -fx-color-panel-50;
    -fx-border-width: 1;
    -fx-fit-to-height: 122;
    -fx-fit-to-width: 122;
}

#ChooseResourceControlButton {
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 24;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#ChooseTextureControlTextureLabel {
    -fx-min-height: 25;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 250;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-alignment: center-left;
}

#ChooseTextureControlPreview {
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 24;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-border-color: -fx-color-panel-50;
    -fx-border-width: 1;
}

#ChooseFolderControlFolderLabel {
    -fx-min-height: 25;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 277;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-alignment: center-left;
}

#JmePreviewManagerImageView {
}

#LogView {
    -fx-background-color: -fx-background-background;
    -fx-fill: white;
    -fx-text-fill: white;
}

#LogView .caret {
    -fx-stroke: white;
}

#LogView .content {
    -fx-background-color: -fx-background-background;
    -fx-fill: white;
    -fx-text-fill: white;
}

#AudioViewerEditorButtonContainer {
    -fx-alignment: center;
}

#AudioViewerEditorButton {
    -fx-min-height: 142px;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 142px;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#AudioViewerEditorParamContainer {
    -fx-alignment: center;
    -fx-padding: 20px;
}

#AudioViewerEditorParamLabel {
    -fx-alignment: center-right;
    -fx-min-width: 200px;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-min-height: 26;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-padding: 0 6px 0 0;
}

#AudioViewerEditorParamValue {
    -fx-min-height: 26px;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 20px;
}

#GenerateLoDDialogListView {
    -fx-min-height: 160px;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
}

#GenerateLoDDialogListViewCell {
    -fx-min-height: 30px;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
}

#SceneAppStateContainer {
    -fx-background-color: -fx-background-background;
    -fx-padding: 4 2 0 0;
}

#SceneAppStateListCell {
    -fx-min-height: 25;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
}

#AbstractParamControlParamName {
    -fx-min-height: 18;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-padding: 2 0 0 0;
}

#AbstractParamControlParamNameSingleRow {
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-alignment: center-right;
    -fx-padding: 0 3 0 2;
}

#AbstractParamControlCheckbox {
    -fx-alignment: center;
    -fx-min-height: 20;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
}

#AbstractParamControlCheckbox > .box {
    -fx-min-height: 16;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 16;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#AbstractParamControlCheckbox > .box > .mark {
    -fx-min-height: 12;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 12;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#AbstractParamControlColorPicker {
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
}

#AbstractParamControlLabelValue {
    -fx-alignment: center-left;
    -fx-text-alignment: left;
}

#AbstractParamControlComboBox {
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
}

#AbstractParamControlNumberLabel {
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-padding: 0 2 0 2;
}

#AbstractParamControlVector3fField {
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-padding: 0 2 0 2;
}

#AbstractParamControlNumberLabel2F {
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-padding: 0 2 0 2;
    -fx-min-width: 60;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-alignment: center-right;
    -fx-text-alignment: right;
}

#AbstractParamControlVector2fField {
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-padding: 0 2 0 2;
}

#AbstractParamControlElementLabel {
    -fx-min-height: 20;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-alignment: center-left;
    -fx-text-alignment: left;
}

#AbstractParamControlElementButton {
}

#AbstractParamControlContainer {
    -fx-alignment: top-center;
    -fx-padding: 2 6 4 4;
}

#AbstractParamControlSplitLine {
    -fx-stroke: -fx-color-600;
    -fx-stroke-width: 2;
}

#AbstractParamControlMultiValuesContainer {
    -fx-alignment: center;
    -fx-hgap: 2px;
}

#ImageViewEditorContainer {
    -fx-alignment: center;
    -fx-background-color: -fx-background-background;
}

#AudioViewEditorContainer {
    -fx-alignment: center;
    -fx-background-color: -fx-background-background;
}

#Root {
    -fx-background-color: -fx-background-background;
}

#AbstractNodeTreeContainer {
    -fx-background-color: -fx-background-background;
    -fx-padding: 0 0 0 0;
}

#AbstractNodeTreeTransparentContainer {
    -fx-background-color: transparent;
    -fx-padding: 4 0 0 0;
}

#ProcessingComponentContainer {
    -fx-background-color: -fx-background-background;
}

#TerrainEditingTextureLayerSettings {
    -fx-vgap: 2px;
    -fx-padding: 2 0 2 0;
}

#TerrainEditingTextureControlSettings {
    -fx-padding: 0 10 0 0;
}

#TerrainEditingTextureLayersSettings {
    -fx-padding: 10 0 0 0;
}

#TerrainEditingTextureLayersSettingsButtons {
    -fx-alignment: center;
}

#AbstractDialogGridSettingsContainer {
    -fx-alignment: center-left;
    -fx-vgap: 2;
    -fx-hgap: 2;
}

#FileCreatorDialogContainer {
    -fx-alignment: center-left;
}

#FileCreatorDialogGridSettingsContainer {
    -fx-alignment: top-left;
    -fx-vgap: 2;
    -fx-hgap: 2;
}

#StatsAppStateStatsContainer {
    -fx-padding: 5px;
    -fx-vgap: 3px;
    -fx-hgap: 3px;
}

#SceneEditorStatsContainer {
    -fx-alignment: bottom-left;
}

#EditorScriptingComponent {
    -fx-background-color: -fx-background-background;
    -fx-padding: 5px;
    -fx-vgap: 3px;
}

#EditorScriptingComponentButtonRun {
    -fx-min-height: 32;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 150;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#GroovyEditorComponent {
    -fx-border-width: 1px;
    -fx-border-color: black;
}